$sidebar-width: 280px;

//行動版(預設)
.sidebar {
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: margin-left .25s;
    position: fixed;

    .sidebar-link {
        color: $dark;
        display: block;
        text-decoration: none;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        &:hover {
            background-color: rgba($primary, 0.16)
        }
    }

    .sidebar-link.active {
        position: relative;
        color: $primary !important;
        background-color: rgba($primary, 0.16);
        &::after {
            content:"";
            position: absolute;
            top: 0;
            left: 2px;
            height: 100%;
            width: 3px;
            background: $primary;
        }
    }
}
.main {
    width: 100%;
    transition: margin-left .25s;
}

// 展開 sidebar
.sidebar-toggled{
    .sidebar {
        margin-left: 0;
    }
    .main {
        margin-left: $sidebar-width;
    }
}

// 桌面板(up)
@include media-breakpoint-up(lg) {
    .sidebar {
        width: $sidebar-width;
        margin-left:0;
    }
    .main {
        width: calc(100vw - #{$sidebar-width});
        margin-left: $sidebar-width;
    }
    
    // 展開sidebar
    .sidebar-toggled{
        .sidebar {
            margin-left: -$sidebar-width;
        }
        .main{
            width: 100%;
            margin-left: 0;
        }
    }
}